.card-product-container{
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.card-product-container .card-image-container{
    height: 198px;
    width: 198px;
    background-color: var(--card-image-background);
    padding: 16px 8px;
    color: white;
    text-align: justify;

    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-product-container .card-image-container span{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.card-product-container .card-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-product-container .card-body-container h3{
    margin-bottom: 10px;
}

.card-product-container .card-body-container .button{
    background-color: var(--btn-color-green);
    color: var(--btn-text-color);
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    transition: all .2s linear;
    text-decoration: none;
}

.card-product-container .card-body-container .button:hover{
    background-color: var(--btn-color-green-light);
}