:root {
  font-size: 80%;
  --color-background: white;
  --login-container-background: #d9e5d6;
  --announcement-background: #8FD9D2;
  --search-area-background: #008cff;
  --navbar-background: #fafafa;
  --card-image-background: #ccc;
  --footer-background: #d9e5d6;
  --text-color: white;
  --text-color-dark: #393939;
  --btn-nav: #ff5100;
  --btn-text-color: white;
  --btn-color-green: #069c1a;
  --btn-color-blue: #008cff;
  --border-color: rgb(255, 81, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-background);
}

input,
textarea {
  font-family: "Nunito", sans-serif;
}
