.nav-container{
    height: 80px;
    background-color: var(--navbar-background);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .nav-menu{
    list-style: none;

    display: flex;
    align-items: center;
}

.nav-container img{
    margin-left: 26px;
    height: 52px;
}

.nav-container .nav-menu li{
    margin-right: 26px;
}

.nav-container .nav-menu li .announcement-btn{
    padding: 10px 20px;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    background-color: var(--btn-nav);
    color: var(--btn-text-color);
    font-weight: bold;
    border: 1px solid var(--btn-nav);
    cursor: pointer;
    transition: all 250ms linear;
}

.nav-container .nav-menu li .announcement-btn:hover{
    color: var(--btn-nav);
    background-color: var(--btn-text-color);
    border: 1px solid var(--btn-nav);

}

.nav-container .nav-menu li a{
    text-decoration: none;
    color: #393939;
    font-weight: bold;
    margin-left: 8px;
}